
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.fileInput{  
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

  
.imgPreview
{
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  /* img-width: 100%;
    height: 100%; */
  }
  
.previewText
{
  width: 100%;
  margin-top: 20px;
}
  
.submitButton
{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  /* &:hover
    background: #efefef; */
}

.centerText
{
  text-align: center;
  width: 500px;
}

body {
  font-family: "Roboto";
}

h2{
  margin : 0px;
}

@media screen and (min-width: 500px) {
  .container{
    width: 80%;
  }
}

.container {
  margin : auto;
}

.flexHome {
  display : flex;
  flex-wrap : wrap-reverse;
}

.appList {
  flex : 1;
  min-width: 350px;
}

.appDisplay {
  flex : 3;
}

.pollFlex {
  display: flex;
  flex-wrap : wrap;
  align-items : flex-start;
}

.pollList {
  flex : 2;
  margin: 0px 50px;
}

.pollGraph {
  flex : 1;
  min-width: 300px;
  min-height: 300px;
  margin: 0px 50px;
}

.create {
  text-align : center;
  min-width: 400px;
}

.statistics{
  text-align : center;
}

.button {
  border: none;
  background-color: transparent;
  outline: none;
}
.button:focus {
  border: none;
}